.footer-color {
    background-color: #0a2e46;
  }
  
  .btn-primary {
    background-color: #54456b;
  }
  
  .copy-right {
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  .footer-body {
    margin: 0;
    padding: 0;
  }