
.main-title {
  font-family: "Ubuntu Condensed", sans-serif;
  color: white;
  margin-top: 25%;
}

@media (min-width: 600px) {
  .main-title {
    font-size: 3vh;
  }
}

@media (min-width: 768px) {
  .main-title {
    font-size: 4vh;
  }
}
@media (min-width: 992px) {
  .main-title {
    font-size: 5vh;
  }
}
@media (min-width: 1200px) {
  .main-title {
    font-size: 7vh;
  }
}
